<div class="topnav">
    <div class="topnav-centered">
        <a href='/'><b>SEDILS</b> <%= image_tag("Logo.png", height: '20', style: 'vertical-align:middle;') %></a>
    </div>

    <a class="active" href="/">Home</a>
    
    <div class="topnav-right">
        <a href="signup.html">Sign up</a>
    </div>
</div> 

<div class="takeaway_description">
    <div>
        <h1><b>SEDILS</b> <%= image_tag("Logo.png", height: '50', style: 'vertical-align:middle;') %></h1>
        
    </div>
    <br>
    <h2><b>Save time formatting and impress your clients!</b></h2>
    <br>
    <h3>Sedils is the only automated Excel -> PowerPoint customized org chart builder just for professionals. 
        Create bespoke org charts and export them to PowerPoint in minutes.</h3>
</div>

<div class="old_new">
    <div class="left_2">
        <div>
            <h2><b>Old Way</b></h2>
        </div>
        <%= image_tag("SplitScreen.png", width: '100%', style: 'vertical-align: middle;') %>
        
        <br><br>
        <p class="old_p">Manually create, format, and type hundreds of names into boxes in PowerPoint, split your screen across Excel and PowerPoint.
            Use Visio with significant to find roll-ups, then reformat it all in PowerPoint </p>
    </div>

    <div class="right_2">
        <div>
            <h2><b>New Way</b></h2>
        </div>
        <%= image_tag("FormatEditor.png", width: '60%', style: 'vertical-align: middle;') %>
        
        <br><br><br><br>
        <p class="old_p">Automatically import your Employee-Manager mapping, along with any desired features (name, department, etc.). 
            Use the custom designer to create the desired format, and seamlessly export into PowerPoint. No fuss! </p>
    </div>
</div>

<div class="benefits"><b>
    <div class="left_3">
        <p class="old_p"><%= image_tag("Custom.png", height: '50') %>  Your own product within minutes</p>
    </div>

    <div class="center_3">
        <p class="old_p"><%= image_tag("TimeWaste.png", height: '50') %>  Stop wasting your time</p>
    </div>

    <div class="right_3">
        <p class="old_p"><%= image_tag("Design.png", height: '50') %>  Design the way you like it</p>
    </div>
</div></b>

<br>

<div class="get_it">

    <h1><b><a href="signup.html" style="color: #be756b">Click here to sign up today</a></b></h1>
    
</div>

<br><br>